@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    color: #3a3a3a;
}

/* headings and logo */

h1,
h2 {
    font-family: Poppins, sans-serif;
    text-decoration: overline;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 30px;
}

/* navigation links */

#menu {
    font-size: 111%;
    letter-spacing: 3px;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    text-decoration: overline;
}

.active {
    text-decoration: overline;
}

/* ocean imagae and cover text */

#ocean-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text,
#cover-text h2 {
    color: #252525;
}

#ocean-image {
    height: 600px;
    width: 100%;
    background: url('../images/ocean.jpg') no-repeat center center;

    /* animates zoom effect on loading page*/

    animation-name: ocean-zoom;
    animation-duration: 7s;
    animation-fill-mode: forwards;
}

/* creates the zoom levels for ocean-image */

@keyframes ocean-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 110%;
    font-family: Poppins, sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;

    width: 300px;
    height: 125px;

    padding-top: 15px;
    padding-left: 10px;

    background-color: rgba(255, 255, 255, 0.7);

    bottom: 30px;
    right: 150px;

    position: absolute;
}

/* summary */

#summary {
    height: 300px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about {
    padding: 30px;
    width: 33%;
    margin: 0 auto;

}

hr {
    border-top: 1px;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 100%;
    float: left;
    line-height: 20px;
    margin-bottom: 50px;
}

.center-about-heading {
    width: 50%;
    line-height: 20px;
    margin: 0 auto;
    margin-bottom: 50px;
}

#zenfacts {
    text-align: center;
    margin: 30px;
    font-size: 260%;
    text-decoration: overline;
}

#grass-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#grass-image {
    height: 500px;
    width: 100%;
    background: url('../images/grass.jpg') no-repeat center center;
    background-size: cover;
}


/* footer */

footer {
    height: 200 px;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 1000%;
    margin: 50px;
    padding: 100px;
    color: #fafafa;
}