@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    color: #3a3a3a;
}

/* headings and logo */

h1,
h2 {
    font-family: Poppins, sans-serif;
    text-decoration: overline;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 30px;
}

/* navigation links */

#menu {
    font-size: 111%;
    letter-spacing: 3px;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    text-decoration: overline;
}

.active {
    text-decoration: overline;
}

/* ocean imagae and cover text */

#ocean-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text,
#cover-text h2 {
    color: #252525;
}

#ocean-image {
    height: 600px;
    width: 100%;
    background: url('../images/ocean.jpg') no-repeat center center;

    /* animates zoom effect on loading page*/

    animation-name: ocean-zoom;
    animation-duration: 7s;
    animation-fill-mode: forwards;
}

/* creates the zoom levels for ocean-image */

@keyframes ocean-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 110%;
    font-family: Poppins, sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;

    width: 300px;
    height: 125px;

    padding-top: 15px;
    padding-left: 10px;

    background-color: rgba(255, 255, 255, 0.7);

    bottom: 30px;
    right: 150px;

    position: absolute;
}

/* summary */

#summary {
    height: 300px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about {
    padding: 30px;
    width: 33%;
    margin: 0 auto;

}


.left-about-heading {
    width: 75%;
    float: right;
    line-height: 20px;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 100%;
    float: left;
    line-height: 20px;
    margin-bottom: 50px;
}

.center-about-heading {
    width: 50%;
    line-height: 20px;
    margin: 0 auto;
    margin-bottom: 50px;
}

#zenfacts {
    text-align: center;
    margin: 30px;
    font-size: 260%;
    text-decoration: overline;
}

#grass-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#grass-image {
    height: 500px;
    width: 100%;
    background: url('../images/grass.jpg') no-repeat center center;

    background-size: cover;
}


/* footer */

footer {
    height: 200 px;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 500%;
    margin-bottom: 5px;
    padding: 5px;
    color: #fafafa;
}

/* media queries*/

/* for large to medium screens size from 1200px wide and down*/
@media screen and (max-width: 1200px) {

    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
    }

    #summary {
        width: 65%;
        height: 300px;
        margin: 0 auto;
    }

    #zenfacts {
        padding: 30px 0;
    }

    #left-about {
        width: 100%;
        float: left;
        margin: 0;
    }

    #right-about {
        width: 100%;
        margin: 0 auto;
    }



    #center-about {
        clear: both;
        width: 100%;
        float: left;
        margin: 0;
    }

}

/* for medium screen sizes from 950px wide and down */




@media screen and (max-width: 950px) {

    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
    }


    #summary {

        float: center;
    }




    #cover-text {

        left: 0;

    }




    #zen-facts {

        width: 90%;

        height: 1200px;

        margin: 0 auto;

    }




    .left-about-heading h2,

    .right-about-heading h2 {

        width: 100%;

        text-align: center;

    }




    .left-about-heading li,

    .right-about-heading li {

        text-align: center;
        margin: 0 auto;
        list-style-type: none;
    }


    .center-about-heading h2 {
        width: 100%;
        text-align: center;
    }

    .center-about-heading li {
        clear: both;
        text-align: center;
        list-style-type: none;
    }
}

/* for medium screen sizes from 800px wide and down */


@media screen and (max-width: 800px) {


    #summary {

        float: center;
    }




    #cover-text {

        left: 0;

    }




    #zen-facts {

        width: 90%;

        height: 1200px;

        margin: 0 auto;

    }




    .left-about-heading h2,

    .right-about-heading h2 {

        width: 100%;

        text-align: center;

    }




    .left-about-heading li,

    .right-about-heading li {

        text-align: center;
        margin: 0 auto;
        list-style-type: none;
    }


    .center-about-heading h2 {
        width: 100%;
        text-align: center;
    }

    .center-about-heading li {
        clear: both;
        text-align: center;
        list-style-type: none;
    }


}

/* for medium screen sizes from 650px wide and down */


@media screen and (max-width: 650px) {

    #logo {
        transform: scale(0.75);
    }
}    